#!/usr/bin/env nu
# Unified service reload script
# Only reloads services whose config files actually changed
#
# Script hash: {{ include ".scripts/reload-services.nu" | sha256sum }}
# Config checksums (triggers chezmoi onchange):
{{- if eq .chezmoi.os "darwin" }}
{{- range .services.darwin }}
# {{ .name }}: {{ include .config | sha256sum }}
{{- end }}
{{- else if eq .chezmoi.os "linux" }}
{{- range .services.linux }}
# {{ .name }}: {{ include .config | sha256sum }}
{{- end }}
{{- else if eq .chezmoi.os "windows" }}
{{- range .services.windows }}
# {{ .name }}: {{ include .config | sha256sum }}
{{- end }}
{{- end }}

let services = '
{{- if eq .chezmoi.os "darwin" -}}
[
{{- range $i, $svc := .services.darwin }}
{{- if $i }},{{ end }}
  {"name":"{{ $svc.name }}","hash":"{{ include $svc.config | sha256sum }}","type":"{{ $svc.type }}"
{{- if eq $svc.type "launchctl" }},"service":"{{ $svc.service }}"{{ end }}
{{- if eq $svc.type "command" }},"check":"{{ $svc.check }}","reload":"{{ $svc.reload }}"{{ end }}
{{- if eq $svc.type "windows-task" }},"task":"{{ $svc.task }}","exe":"{{ $svc.exe }}"{{ end -}}
  }
{{- end }}
]
{{- else if eq .chezmoi.os "linux" -}}
[
{{- range $i, $svc := .services.linux }}
{{- if $i }},{{ end }}
  {"name":"{{ $svc.name }}","hash":"{{ include $svc.config | sha256sum }}","type":"{{ $svc.type }}"
{{- if eq $svc.type "systemctl" }},"service":"{{ $svc.service }}"{{ end -}}
  }
{{- end }}
]
{{- else if eq .chezmoi.os "windows" -}}
[
{{- range $i, $svc := .services.windows }}
{{- if $i }},{{ end }}
  {"name":"{{ $svc.name }}","hash":"{{ include $svc.config | sha256sum }}","type":"{{ $svc.type }}"
{{- if eq $svc.type "windows-task" }},"task":"{{ $svc.task }}","exe":"{{ $svc.exe }}"{{ end -}}
  }
{{- end }}
]
{{- end }}'

nu "{{ .chezmoi.sourceDir }}/.scripts/reload-services.nu" --services $services
