#!/usr/bin/env nu
{{- $tmuxReloadFiles := list
  "private_dot_config/tmux/tmux.conf"
  "private_dot_config/tmux/settings.tmux"
  "private_dot_config/tmux/plugins.tmux"
  "private_dot_config/tmux/mappings/root.tmux"
  "private_dot_config/tmux/mappings/prefix.tmux"
  "private_dot_config/tmux/mappings/copy-mode-vi.tmux"
-}}
{{- range $file := $tmuxReloadFiles }}
# {{ $file }} hash: {{ include $file | sha256sum }}
{{- end }}
nu {{ joinPath .chezmoi.sourceDir ".scripts/tmux-reload.nu" | quote }}
