{{- /* Detect environment */ -}}
{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $hostname := .chezmoi.hostname -}}
{{- $isServer := false -}}
{{- $isDesktop := false -}}
{{- $hasKmonad := false -}}

{{- /* Determine machine type based on hostname and environment */ -}}
{{- if $codespaces -}}
  {{- $isServer = true -}}
{{- else if eq $hostname "nixos" -}}
  {{- $isDesktop = true -}}
  {{- $hasKmonad = true -}}
{{- else if hasPrefix "vm-" $hostname -}}
  {{- $isServer = true -}}
{{- else -}}
  {{- /* Default to desktop for unknown hosts */ -}}
  {{- $isDesktop = true -}}
{{- end -}}

{{- /* Set machine type string */ -}}
{{- $machineType := "laptop" -}}
{{- if $isServer -}}
  {{- $machineType = "server" -}}
{{- end -}}

[data]
    machineType = {{ $machineType | quote }}
    codespaces = {{ $codespaces }}
    
    [data.machineConfig]
        hostname = {{ $hostname | quote }}
        type = {{ $machineType | quote }}
        
        [data.machineConfig.features]
            desktop = {{ $isDesktop }}
            kmonad = {{ $hasKmonad }}
            audio = {{ $isDesktop }}
            bluetooth = {{ $isDesktop }}