{{- if eq .chezmoi.os "darwin" }}
Library/LaunchAgents/org.local.clipper.plist
Library/LaunchAgents/org.local.syncthing.plist
Library/LaunchAgents/org.local.kanata.plist
Library/LaunchAgents/org.pqrs.karabiner.driverkit.daemon.plist
.config/launchd
.local/bin/zesh
.local/bin/pay-respects
{{- end }}
