# All SpaceVim option below [option] section
[options]
  # set spacevim theme. by default colorscheme layer is not loaded,
  # if you want to use more colorscheme, please load the colorscheme
  # layer
  colorscheme = "ayu"
  colorscheme_bg = "light"
  ayucolor="light"

  # Disable guicolors in basic mode, many terminal do not support 24bit
  # true colors
  enable_guicolors = true

  # disable statusline separator, if you want to use other value, please
  # install nerd fonts
  statusline_separator = "arrow"
  statusline_inactive_separator = "arrow"
  buffer_index_type = 4
  enable_tabline_filetype_icon = true
  enable_statusline_mode = false
  autocomplete_method = "deoplete"

  # change things before SpaceVim takes over
  bootstrap_before = "myspacevim#before"
  botstrap_after = 'myspacevim#after'

  # session management
  startify_session_persistence = true
  startify_session_autoload = true

  # floatterm
  floaterm_keymap_toggle = 'F8'
  floaterm_keymap_next = 'F9'
  floaterm_keymap_prev = 'F10'
  floaterm_keymap_new = 'F12'

  floaterm_gitcommit='floaterm'
  floaterm_autoinsert=1
  floaterm_width=0.8
  floaterm_height=0.8
  floaterm_wintitle=0
  floaterm_autoclose=1

  lint_engine = 'ale'

[[layers]]
  name = 'autocomplete'
  auto-completion-return-key-behavior = "complete"
  auto-completion-tab-key-behavior = "smart"

[[layers]]
  name = 'shell'
  default_position = 'float'
  default_height = 40

[[layers]]
  name = "VersionControl"

[[layers]]
  name = "checkers"

[[layers]]
  name = "colorscheme"

[[layers]]
  name = "core#statusline"

[[layers]]
  name = "core#tabline"

[[layers]]
  name = "core"

[[layers]]
  name = "debug"

[[layers]]
  name = "default"

[[layers]]
  name = "edit"

[[layers]]
  name = "format"
  format_on_save = true

[[layers]]
  name = "fzf"

[[layers]]
  name = "git"
  git-plugin = "fugitive"

[[layers]]
  name = "github"

[[layers]]
  name = "lang#dockerfile"

[[layers]]
  name = "lang#go"

[[layers]]
  name = "lang#html"

[[layers]]
  name = "lang#javascript"

[[layers]]
  name = "lang#typescript"

[[layers]]
  name = "lang#python"

[[layers]]
  name = "lang#toml"

[[layers]]
  name = "lang#sh"

[[layers]]
  name = "lang#vim"

[[layers]]
  name = "lsp"
  filetypes = [
    "go",
    "python",
    "javascript",
    "terraform",
    "yaml"
  ]

[layers.override_cmd]
    terraform = ["terraform-ls", "serve"]
    yaml = ["yaml-language-server"]
    javascript = ["typescript-language-server", "--stdio"]

[[layers]]
  name = "sudo"

[[layers]]
  name = "tags"

[[layers]]
  name = "tools"

[[layers]]
  name = "ui"

# ayu color scheme https://github.com/ayu-theme/ayu-vim
[[custom_plugins]]
  repo = "ayu-theme/ayu-vim"
  merged = false

[[custom_plugins]]
  name = "spacewander/openresty-vim"
  merged = false

[[custom_plugins]]
  name = "benjie/local-npm-bin.vim"
  merged = false

[[custom_plugins]]
  name = "vigoux/LanguageTool.nvim"
  merged = false

[[custom_plugins]]
  name = "tpope/vim-obsession"
  merged = false

[[custom_plugins]]
  name = "yuki-yano/fzf-preview.vim"
  rev = "release/rpc"
  merged = false

[[custom_plugins]]
  name = "sunaku/tmux-navigate"
  merged = false

[[custom_plugins]]
  name = "jceb/vim-orgmode"
  merged = false

[[custom_plugins]]
  name = "liuchengxu/vista.vim"
  merged = false

[[custom_plugins]]
  name = "hashivim/vim-terraform"
  merged = false

[[custom_plugins]]
  name = "voldikss/vim-floaterm"
  merged = false

[[custom_plugins]]
  name = "will133/vim-dirdiff"
  merged = false

# syntax hl for puml
[[custom_plugins]]
   name = "aklt/plantuml-syntax"
  merged = false

# hooks for opeing browser
[[custom_plugins]]
  name = "tyru/open-browser.vim"
  merged = false

# previewer
[[custom_plugins]]
  name = "weirongxu/plantuml-previewer.vim"
  merged = false
