# All SpaceVim option below [option] section
[options]
  # set spacevim theme. by default colorscheme layer is not loaded,
  # if you want to use more colorscheme, please load the colorscheme
  # layer
  colorscheme = "ayu"
  colorscheme_bg = "light"
  ayucolor="light"

  # Disable guicolors in basic mode, many terminal do not support 24bit
  # true colors
  enable_guicolors = true

  # disable statusline separator, if you want to use other value, please
  # install nerd fonts
  statusline_separator = "arrow"
  statusline_inactive_separator = "arrow"
  buffer_index_type = 4
  enable_tabline_filetype_icon = true
  enable_statusline_mode = false

  # change things before SpaceVim takes over
  bootstrap_before = "myspacevim#before"
  botstrap_after = 'myspacevim#after'

  # session management
  startify_session_persistence = true
  startify_session_autoload = true

  lint_engine = 'ale'

[[layers]]
  name = 'autocomplete'
  auto-completion-return-key-behavior = "complete"
  auto-completion-tab-key-behavior = "smart"

[[layers]]
  name = "VersionControl"

[[layers]]
  name = "checkers"

[[layers]]
  name = "colorscheme"

[[layers]]
  name = "core#statusline"

[[layers]]
  name = "core#tabline"

[[layers]]
  name = "core"

[[layers]]
  name = "debug"

[[layers]]
  name = "default"

[[layers]]
  name = "edit"

[[layers]]
  name = "format"
  format_on_save = false

[[layers]]
  name = "telescope"

[[layers]]
  name = "git"
  git-plugin = "fugitive"

[[layers]]
  name = "github"

[[layers]]
  name = "lang#dockerfile"

[[layers]]
  name = "lang#go"

[[layers]]
  name = "lang#html"

[[layers]]
  name = "lang#javascript"

[[layers]]
  name = "lang#python"

[[layers]]
  name = "lang#plantuml"

[[layers]]
  name = "lang#rust"

[[layers]]
  name = "lang#toml"

[[layers]]
  name = "lang#typescript"
  typescript_server_path = "/nix/store/4yzj5v1r3fkix9a6gc5jb49fhzyrmznk-typescript-4.8.4/lib/node_modules/typescript/bin/tsserver"

[[layers]]
  name = "lang#vim"

[[layers]]
  name = "lsp"

  # https://github.com/SpaceVim/SpaceVim/blob/v2.1.0/autoload/SpaceVim/lsp.vim
  # https://github.com/neovim/nvim-lspconfig/blob/master/doc/server_configurations.md
  # https://github.com/SpaceVim/SpaceVim/blob/v2.1.0/bundle/nvim-lspconfig/doc/server_configurations.md
  # https://github.com/SpaceVim/SpaceVim/tree/v2.1.0/bundle/nvim-lspconfig/lua/lspconfig/server_configurations
  enabled_clients = [
#    'gopls',
    'pyright',
#    'rust_analyzer',
    'terraformls',
    'tsserver',
    'yamlls'
  ]

  filetypes = [
    # "go",
    # "rust",
    # "javascript",
    "typescript",
  ]

  [layers.override_client_cmds]
#    gopls = ['gopls', 'serve']
    pyright = ['pyright-langserver', '--stdio']
#    rust_analyzer = ["rust-analyzer"]
    terraformls = ["terraform-ls", "serve"]
    tsserver = [
      # https://github.com/NixOS/nixpkgs/issues/210051#issuecomment-1378040732
      'typescript-language-server',
      '--stdio',
      '--tsserver-path',
      '/nix/store/4yzj5v1r3fkix9a6gc5jb49fhzyrmznk-typescript-4.8.4/lib/node_modules/typescript/lib/'
    ]
    yamlls = ['yaml-language-server', '--stdio']

[[layers]]
  name = "sudo"

[[layers]]
  name = "tags"

[[layers]]
  name = "tools"

[[layers]]
  name = "treesitter"

[[layers]]
  name = "ui"

# ayu color scheme https://github.com/ayu-theme/ayu-vim
[[custom_plugins]]
  repo = "ayu-theme/ayu-vim"
  merged = false

[[custom_plugins]]
  name = "spacewander/openresty-vim"
  merged = false

[[custom_plugins]]
  name = "benjie/local-npm-bin.vim"
  merged = false

[[custom_plugins]]
  name = "vigoux/LanguageTool.nvim"
  merged = false

[[custom_plugins]]
  name = "tpope/vim-obsession"
  merged = false

[[custom_plugins]]
  name = "yuki-yano/fzf-preview.vim"
  rev = "release/rpc"
  merged = false

[[custom_plugins]]
  name = "sunaku/tmux-navigate"
  merged = false

[[custom_plugins]]
  name = "nvim-orgmode/orgmode"
  merged = false

[[custom_plugins]]
  name = "liuchengxu/vista.vim"
  merged = false

[[custom_plugins]]
  name = "Lilja/vim-chezmoi"
  merged = false

[[custom_plugins]]
  name = "alker0/chezmoi.vim"
  merged = false

[[custom_plugins]]
  name = "hashivim/vim-terraform"
  merged = false
