[Desktop Entry]
Type=Application
Name=CopyQ
GenericName=Clipboard Manager
Comment=Advanced clipboard manager
Icon=copyq
Exec=copyq
Terminal=false
Hidden=false
Categories=Utility;System;
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=2