[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=sh -c 'xrandr --output HDMI-2 --auto --output eDP-1 --off'
OnlyShowIn=LXDE
