{{- if .machineConfig.features.desktop -}}
# Alacritty Configuration
# TODO: Add actual alacritty.toml content here
# For now, this is a placeholder that only gets created on desktop machines
{{- end -}}