sourceDir = "~/.local/share/chezmoi"

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-bw-cli.sh"

[diff]
command = "delta"
args = ["--syntax-theme", "Dracula", "--line-numbers"]
exclude = ["scripts"]

[status]
exclude = ["scripts"]

[merge]
command = "nvim -d"

[git]
# Disabled because we use claude_chain in run_before script
autoCommit = false
autoPush = false

[data]
    machineType = {{ .machineType | quote }}
    codespaces = {{ .codespaces }}
    
    [data.machineConfig]
        hostname = {{ .machineConfig.hostname | quote }}
        type = {{ .machineConfig.type | quote }}
        
        [data.machineConfig.features]
            desktop = {{ .machineConfig.features.desktop }}
            kmonad = {{ .machineConfig.features.kmonad }}
            audio = {{ .machineConfig.features.audio }}
            bluetooth = {{ .machineConfig.features.bluetooth }}
