{{- if .machineConfig.features.desktop -}}
[Unit]
Description=Rotate wallpaper using feh
After=graphical-session.target

[Service]
Type=oneshot
Environment="DISPLAY=:0"
ExecStart=/bin/sh -c 'feh --bg-fill --randomize ~/.wallpapers/*'

[Install]
WantedBy=default.target
{{- end -}}